/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background: #f4f1e8;
    color: #191919;
}

h1 {
    color: #f4f1e8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2,
h3 {
    color: #9b4819;
}

h4 {
    color: #191919;
    font-weight: 600;
}

/* Navbar */
.navbar {
    background: #333;
    color: #f4f1e8;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

.nav-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

/* Sections */
.section {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: center;
}



/*Resume*/
#resume {
    text-align: left;
    width: 900px;
}

#resume a{
    text-decoration: none;
    color: inherit;
}

#resume li{
    margin-left: 25px;
}