/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background: #f4f1e8;
    color: #191919;
}

h1 {
    color: #f4f1e8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2,
h3 {
    color: #9b4819;
}

h4 {
    color: #191919;
    font-weight: 600;
}

/* Navbar */
.navbar {
    background: #333;
    color: #f4f1e8;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

.nav-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

.nav-container button {
    display: none;
}

.nav-menu {
    display: none;
}

/* Sections */
.section {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 2rem;
}

.frame-horizontal {
    width: 560px;
    height: 315px;
}

.frame-vertical {
    width: 315px;
    height: 560px;
}

/*Resume*/
#resume {
    text-align: left;
    width: 100%;
}

#resume a {
    text-decoration: none;
    color: inherit;
}

#resume li {
    margin-left: 25px;
}


@media (max-width: 768px) {
    .navbar {
        width: 100%;
        padding: 0 5%;
    }

    .nav-container {
        width: 95%;
        margin: 0;

    }

    .nav-container button {
        display: block;
        background: none;
        border: none;
    }

    .nav-container button img {
        background: none;
        color: #f4f1e8;
        max-width: 50px;
        max-height: 50px;
    }

    .nav-links {
        display: none;
    }

    #nav-menu {
        display: block;
        position: fixed;
        padding: 20px;
        background: #333;
        color: #f4f1e8;
        width: 50vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    #nav-menu.open {
        transform: translate(0);
    }

    .nav-links-mobile {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .nav-links-mobile a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .nav-links a:hover {
        color: #f39c12;
    }

    .section {
        width: 95%;
        margin: 2rem 0;
        padding: 0 5%;
    }

    .frame-horizontal {
        height: auto;
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    .frame-vertical {
        align-self: center;
    }
}